.dw-notice-row {
    display: flex;
    justify-content: space-between;
}

.dw-notice-row.dw-notice-row-0 {
    margin-bottom: 0.25em;
    font-size: 1.1em;
}

.dw-notice-row.dw-notice-row-3 {
    margin-top: 0.5em;
    font-size: 0.8em;
}

.dw-toggle {
    text-align: right;
    font-size: 0.8em;
}