body {
    background: #fbfbff;
}

h1, h2, h3, h4 {
    color: rgba(0, 0, 0, 0.6);
}

.tabs .tab {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

.tabs .tab:hover, .tabs .tab.active {
    background: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.tabs .content {
    padding: 20px;
    color: rgba(0, 0, 0, 0.6);
    background: rgba(255, 255, 255, 0.2);
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    margin-top: -2px;
}

.site-options-information {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    padding: 1rem 0.7rem;
}

.site-options-information:last-child {
    border-bottom: 0;
}

.site-information-title {
    margin-bottom: 0;
}

.mono-text {
    font-family: "Courier New", Courier, monospace;
}

.custom-class {
    font-family: "Courier New", Courier, monospace;
}

.custom-class.custom-class-deploy {
    color: green;
}

.custom-class.custom-class-no-deploy {
    color: red;
}

.content-import-export {
    height: 600px;
}

.content-import-export .editor,
.content-import-export .editor > div {
    height: 100%;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 17px 40px;
    z-index: 1;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-size: 0.6875rem;
    color: #fff;
    background: #463f3a;
    text-align: center;
    line-height: normal;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    border-radius: 10px;
}

.btn.disabled,
.btn:disabled {
    opacity: 0.75;
}

.btn.disabled:hover:after,
.btn:disabled:hover:after,
.btn.disabled:active:after,
.btn:disabled:active:after {
    background: rgba(255, 255, 255, .0);
}

.btn:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, .0);
    border-radius: 10px;
    transition: all 0.4s ease 0s;
}

.btn:hover:after {
    background: rgba(255, 255, 255, .15);
}

.btn:active:after {
    background: rgba(0, 0, 0, .35);
}

.chip {
    padding: 8px 10px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    margin: 0 10px;
    color: #fff;
    background: #463f3a;
}

.btn.btn-danger,
.chip.chip-danger {
    background: #d7263d;
}

.btn.btn-success,
.chip.chip-success {
    background: #008148;
}

.btn.btn-info,
.chip.chip-info {
    background: #2660a4;
}

.btn.btn-warning,
.chip.chip-warning {
    background: #eec170;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 1rem;
}

.flex-col {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.flex-end {
    align-items: center;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

table.table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    overflow: hidden;
    margin-bottom: 2rem;
}

table.table td, table.table th {
    border-top: 1px solid rgba(191, 191, 191, 0.37);
    padding: 10px;
}

table.table td {
    border-left: 1px solid rgba(191, 191, 191, 0.37);
}

table.table td:first-child {
    border-left: 0;
}

table.table th {
    text-transform: capitalize;
    background-color: #b8ddff;
}

table.table tr:nth-of-type(even) td {
    background-color: #e8f4ff;
}
